main.step{

    
    height: 100vh;
    display: flex;
    justify-content: center;
    

    a{
        position: absolute;
        top: 31px;
        left: 10px;
    }

    section.center{

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70px;

        h1{
            font-family: 'Segoe UI';
            font-weight: 400;
            font-size: 2em;
            text-align: center;
        }
        div.button-container{
            display: flex;
            justify-content: center;
            height: 36%;
            
            form{

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                div:nth-child(1){

                    display: flex;
                    justify-content: space-around;
                    gap: 45px;

                    input[type=button]{
                        background-color: $secondary-color;
                        padding: 25px;
                        border: none;
                        outline: none;
                        font-size: 1.2em;
                        min-width: 123px;
                        border-radius: 9px;
                    }

                    input[type=checkbox]{
                        // position: absolute;
                        // opacity: 0;
                        // cursor: pointer;
                        // height: 0;
                        // width: 0;
                    }

                    label{
                        font-family: 'Segoe UI';
                    }

                }

                div:nth-child(2){
                    input[type=submit]{
                        outline: none;
                        border: none;
                        width: 100%;
                    }
                }


            }
        }
    }
}