main.register{

    margin: 34px;

        a{
            display: block;
            img{
                width: 50px;
            }
        }
    

    h1{
        font-family: 'Segoe UI';
        text-align: center;
        font-weight: 400;
    }

    form{
        label{
            display: none;
        }

        input{
            border: 1px solid #cdd4d9;
            // padding: 20px;
            width: 100%;
            box-sizing: border-box;
            padding: 23px;
            border-radius: 8px;
            font-size: 17px;
            margin-top: 13px;
            outline: none;
        }

        input[type=submit]{
            background-color: $main-color;
            color: white;
        }
    }
}