main.start{
    background-color: #0064FE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    div.welcome{

        h1.welcome-message{
            color: white;
            font-family: 'Segoe UI';
            font-weight: 100;
            text-align: center;
            width: 41%;
            margin: auto;
        }

        h2{
            color: white;
            font-family: 'Segoe UI';
            font-weight: 100;
            text-align: center;
        }
    }

    section{
        background-color: white;
        height: 60%;
        width: 100%;
        border-radius: 57px 57px 0px 0px;
    }
}