<main class="register">

    <a href="/">
        <img class="icon" src="/public/assets/icons/back.svg" alt="">
    </a>
    <h1>Create an account</h1>

    <form action="#">
        <label for="firstname">First name:</label><br>
        <input type="text"  name="firstname" placeholder="First name" required><br>

        <label for="lastname">Last name:</label><br>
        <input type="text"  name="lastname" placeholder="Last name" required><br>

        <label for="age">Age:</label><br>
        <input type="number" name="age" placeholder="age" required><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email" placeholder="Email" required><br>

        <label for="password">Password:</label><br>
        <input type="text" name="password" placeholder="Password" required><br>

        <label for="confirmpassword">Confirm password:</label><br>
        <input type="text" name="password" placeholder="Confirm password" required><br>


        <input type="submit" value="Continue">
    </form> 

</main>