<main class="start">
    <div class="welcome">
        <h1 class="welcome-message">Welcome to fitbud</h1>
        <h2>Discover your fitness buddy</h2>
    </div>

    <section>
        <section>
            <a href="#">Create an account</a>
            <a href="#" id="secondary">Sign In</a>
        </section>
        <p>By signing up you agree to our Privacy Policy and Terms</p>
    </section>
</main>