<main class="step">
    <a href="/">
        <img class="icon" src="/public/assets/icons/back.svg" alt="">
    </a>

    <section class="center">
        <h1>Hello {{info.firstname}} choose your gender.</h1>
        <div class="button-container">
            <form action="#">
                <div>
                    <input type="checkbox" value="Male">
                    <label for="male">Male</label>
                    <input type="checkbox" value="Female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <input type="submit" value="Continue">
                </div>

            </form>
        </div>
    </section>
</main>