<main class="step">
    <section class="center">
        <h1>Hello Russell choose your gender.</h1>
        <div class="button-container">
            <form action="#">
                <div>
                    <input type="button" value="Male">
                    <input type="button" value="Female">
                </div>
                <div>
                    <input type="submit" value="Continue">
                </div>

            </form>
        </div>
    </section>
</main>