<main class="index">
    <section class="container">
        <section class="user-container">
            <div class="user">
                <div class="user-img"></div>
                <span>Russell Numo</span>
            </div>
            <div class="user">
                <div class="user-img"></div>
                <span>Russell Numo</span>
            </div>
            <div class="user">
                <div class="user-img"></div>
                <span>Russell Numo</span>
            </div>
            <div class="user">
                <div class="user-img"></div>
                <span>Russell Numo</span>
            </div>
            <div class="user">
                <div class="user-img"></div>
                <span>Russell Numo</span>
            </div>
        </section>
    </section>
</main>